:root {
    --primary-color: #0051e8;
    --secondary-color: #1aeedc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url('../img/lee-campbell-DtDlVpy-vvQ-unsplash.jpg');
    background-size: cover;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    z-index: -1;
    opacity: .9;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 174, 255);
    opacity: .8;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .75);
}

.form-body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 3rem 3rem;
}

.form-header {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin: auto auto .5em auto ;
    border-bottom: 3px solid var(--primary-color);
    width: 3.5em;
    padding-bottom: .3em;
}

.form-input {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1em;
    padding: .7em 0;
    margin: .7em 0;
    border-bottom: 1px solid var(--primary-color);
}

.form-input label {
    margin-bottom: 20px;
}

.form-input i {
    width: 2em;
    float: left;
    text-align: center;
}

.form-input input {
    border: none;
    outline: none;
    background: none;
    font-size: 1em;
    width: 100%;
    float: left;
    margin: .5em auto -1em 2.3em;
}

.btn-submit {
    width: 5.5em;
    height: 2.5em;
    background: none;
    background: var(--primary-color);
    cursor: pointer;
    border: none;
    border-radius: 2em;
    color: #fff;
    font-size: .9em;
    margin-top: 1em;
}

.btn-submit:hover {
    opacity: .8;
}

.form-check {
    margin: 1.5em 0 0 0;
}

.form-check input[type="checkbox"] {
    -webkit-appearance: none;
}

.form-check i {
    position: absolute;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid var(--primary-color);
}

.check-box {
    position: relative;
}

.form-check input[type="checkbox"]:checked ~ i {
    top: 1px;
    border-top: none;
    border-right: none;
    height: 7.5px;
    width: 15px;
    transform: rotate(-45deg);
}

.form-check label {
    position: relative;
    left: 25px;
    transition: .5s;
    cursor: pointer;
}

.btn-forgot {
    color: #fff;
    margin-left: 15px;
}